@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/resets" as *;
@use "../../styles/partials/variables" as *;

.login_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6rem 10rem;
  border-radius: 5px;
  background-color: $primary-light-color;
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__username {
      padding: 1rem;
    }
    &__button {
      width: 7rem;
      margin: 1rem 0;
      padding: 0.5rem;
      background-color: $primary-color;
      color: $primary-white;
      border-radius: 1rem;
    }
    &__button:hover {
      background-color: $secondary-accent;
    }
  }
}

.signup {
  font-size: 10px;
  color: #022b3a;
  text-decoration: underline 1px #022b3a;
  padding-bottom: 1rem;
}
