@use "../../styles/partials/variables" as *;

.user-home {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  &__create-button {
    width: 15rem;
    padding: 0.5rem;
    background-color: $primary-color;
    color: $primary-white;
    border-radius: 1rem;
  }
  &__create-button:hover {
    background-color: $secondary-accent;
  }
}

.lesson-card {
  display: flex;
  flex-direction: column;
  background-color: $primary-grey;
  width: 20rem;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
}
