.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 100%;
  color: #ffffff;
  font-size: xx-small;
  position: fixed;
  bottom: 0;
  background-color: #1f7a8c;
  margin-top: 1rem;
}
