@use "../../styles/partials/variables" as *;

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  width: 100%;
  color: $primary-white;
  font-size: xx-small;
  position: fixed;
  bottom: 0;
  background-color: $primary-color;
  margin-top: 1rem;
}
