@use "../../styles/partials/variables" as *;

.creator-form__title {
  padding-left: 1rem;
  padding-top: 1rem;
}
.creator-form {
  display: flex;
  padding-left: 1rem;
  padding-bottom: 2rem;
  flex-direction: column;
  align-items: left;
  &__grade {
    display: flex;
    padding: 0.5rem;
  }
  &__subject {
    display: flex;
    padding: 0.5rem;
  }
  &__subtopic {
    display: flex;
    padding: 0.5rem;
  }
  &__lesson-length {
    display: flex;
    padding: 0.5rem;
  }
  &__quantity-students {
    display: flex;
    padding: 0.5rem;
  }
  &__tech-available {
    display: flex;
    padding: 0.5rem;
  }
  &__number-devices {
    display: flex;
    padding: 0.5rem;
  }
  &__devices-sound {
    display: flex;
    padding: 0.5rem;
  }
  &__other-materials {
    display: flex;
    padding: 0.5rem;
  }
  &__button {
    width: 15rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background-color: $primary-color;
    color: $primary-white;
    margin-top: 1rem;
  }
  &__button:hover {
    background-color: $secondary-accent;
  }
  .slidecontainer {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    .min-label {
      padding-left: 1rem;
    }
  }
}

.gpt-response__title {
  margin-top: 1rem;
}
.gpt-response__content {
  white-space: pre-wrap;
  font-family: "Tahoma", sans-serif;
  font-size: 16px;
  border: 1px solid $primary-grey;
  padding: 15px;
  background-color: $primary-light-color;
  border-radius: 4px;
}

.save__lesson-button {
  width: 15rem;
  padding: 0.5rem;
  background-color: $primary-color;
  color: $primary-white;
  border-radius: 1rem;
}

.save__lesson-button:hover {
  background-color: $secondary-accent;
}

.export__lesson-button {
  width: 15rem;
  padding: 0.5rem;
  margin: 1rem;
  margin-bottom: 10rem;
  background-color: $primary-color;
  color: $primary-white;
  border-radius: 1rem;
}

.export__lesson-button:hover {
  background-color: $secondary-accent;
}
